.icon-48-whatsapptenantsblastings {
      background-image: url(../images/l_whatsapptenantsblastings.png);
      padding-left:60px!important;
}

.icon-48-whatsapptenantsblasting {
      background-image: url(../images/l_whatsapptenantsblastings.png);
      padding-left:60px!important;
}

.color-box-whatsapptenantsblastings { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-whatsapptenantscontacts {
      background-image: url(../images/l_whatsapptenantscontacts.png);
      padding-left:60px!important;
}

.icon-48-whatsapptenantscontact {
      background-image: url(../images/l_whatsapptenantscontacts.png);
      padding-left:60px!important;
}

.color-box-whatsapptenantscontacts { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-whatsapptenantsscheduledmessages {
      background-image: url(../images/l_whatsapptenantsscheduledmessages.png);
      padding-left:60px!important;
}

.icon-48-whatsapptenantsscheduledmessage {
      background-image: url(../images/l_whatsapptenantsscheduledmessages.png);
      padding-left:60px!important;
}

.color-box-whatsapptenantsscheduledmessages { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-whatsapptenantsmessagehistories {
      background-image: url(../images/l_whatsapptenantsmessagehistories.png);
      padding-left:60px!important;
}

.icon-48-whatsapptenantsmessagehistory {
      background-image: url(../images/l_whatsapptenantsmessagehistories.png);
      padding-left:60px!important;
}

.color-box-whatsapptenantsmessagehistories { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-whatsapptenantskeywords {
      background-image: url(../images/l_whatsapptenantskeywords.png);
      padding-left:60px!important;
}

.icon-48-whatsapptenantskeyword {
      background-image: url(../images/l_whatsapptenantskeywords.png);
      padding-left:60px!important;
}

.color-box-whatsapptenantskeywords { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}